{% extends 'base.html' %}

{% block content %}
<div class="aboutContainer">
    <div class="aboutHeader">Edit Product: {{ product.name }}</div>
    <p style="padding-bottom: 50px;">Update Product details</p>
    <form enctype="multipart/form-data" method="post" style="text-align: left;">
        {% csrf_token %}
        <div style="margin-bottom: 20px;">
            <label class="required" for="id_name">Name:</label>
            <input type="text" name="name" value="{{ product.name }}" maxlength="200" required="" id="id_name">
        </div>
        <div style="margin-bottom: 20px;">
            <label class="required" for="id_description">Description:</label><br>
            <textarea name="description" cols="40" rows="10" id="id_description">{{ product.description }}</textarea>
        </div>
        <div style="margin-bottom: 20px;">        
            <strong><label for="id_picture">Picture:</label></strong>
            {% if product.picture %}<a href="">{{ product.picture }}</a><br>{% endif %}
            <input type="file" name="picture" accept="image/*" id="id_picture">
        </div>

        <div style="margin-bottom: 20px;">      
            <label class="required" for="id_unit_price">Unit Price:</label>
            <input type="number" name="unit_price" value="{{ product.unit_price }}" step="0.01" required="" id="id_unit_price">
        </div>

        <div style="margin-bottom: 20px;">        
            <label class="required" for="id_inventory">Inventory:</label>
            <input type="number" name="inventory" value="{{ product.inventory }}" required="" id="id_inventory">
        </div>

        <div style="margin-bottom: 20px;">   
            <label class="required" for="id_category">Category:</label>
            <select name="category" required="" id="id_category">
                <option value="">---------</option>
                <option value="ballo" {% if product.category == "ballo" %} selected="" {% endif %}>Balloons</option>
                <option value="banne" {% if product.category == "banne" %} selected="" {% endif %}>Banners</option>
                <option value="gRBox" {% if product.category == "gRBox" %} selected="" {% endif %}>Gender Reveal Box</option>
                <option value="gWrap" {% if product.category == "gWrap" %} selected="" {% endif %}>Gift Wrapper</option>
                <option value="tACha" {% if product.category == "tACha" %} selected="" {% endif %}>Table and Chairs</option>
                <option value="dCurt" {% if product.category == "dCurt" %} selected="" {% endif %}>Decorative Curtains</option>
                <option value="cTopp" {% if product.category == "cTopp" %} selected="" {% endif %}>Cake Toppers</option>
            </select>
    </div>

        <div><input type="submit" value="Save" class="default" name="_save"></div>
    </form>
</div>
{% endblock %}