{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1024">
    <meta property="og:image:height" content="1024">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Mamaw's Clown and Party Needs" />
    <meta property="og:description" content="Description" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Mamaw's Clown and Party Needs">
    <meta name="twitter:description" content="Description">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Mamaw's Clown and Party Needs</title>

    {% include 'style.html' %}
</head>

<body>
    <div class="header">
        <div class="infoSection">
            <div>0917-128-5250</div>
            <div>facebook.com/MamawsClown</div>
            <div>Tondo, Manila</div>
            <div>MAMAW'S CLOWN AND PARTY NEEDS</div>
        </div>
        <div class="navigation">
            <div class='leftHeader'>
                <img class='logoHeader' src='https://i.ibb.co/k6psPpp/logo.png' alt='logo'/>
                <a href="{% url 'home' %}">HOME</a>
                <a href="{% url 'shop' category='all' %}">SHOP</a>
                <a href="{% url 'services' %}">SERVICES</a>
                <a href="{% url 'about' %}">ABOUT</a>
                {% if user.is_staff %} <a href="{% url 'dashboard' %}">ADMIN</a>{% endif %}
            </div>

            <div class='rightHeader'>
                {% if user.is_authenticated %}
                <span style="padding: 0 20px;">{{ user.username }}</span>|
                <span style="padding: 0 20px;"><a href="{% url 'account_logout' %}">LOG OUT</a></span>
                <div><a href="{% url 'cart' %}"><img class='cart-icon' src='https://i.ibb.co/jRtJnD8/cart.png'/> ({{ request.user.cart_size }})</a></div>
                <div><a href="{% url 'notifications' %}"><img class='cart-icon' src='https://i.ibb.co/nzDsfCC/notificationbell-logo.png'/> ({{ request.user.notification_count }})</a></div>
                {% else %}
                <a href="{% url 'account_login' %}">LOG IN</a><span style="margin: 0 10px;">|</span>
                <a href="{% url 'account_signup' %}">SIGN UP</a>
                {% endif %}
                
            </div>
        </div>
    </div>

    <main>
        {% if messages %}
        <div class="notifMessage">
            <ul style="list-style: none;">
                {% for message in messages %}<li>{% autoescape off %} {{ message }} {% endautoescape %}</li>{% endfor %}
            </ul>
        </div>
        {% endif %}
        {% block content %}
        {% endblock %}
    </main>

    
    <footer>
        <div class="footer">
            <div class="footerContent">
                <div class="leftFooter">
                    <div class="myAccount">
                        <span class="footerHeaders">My Account</span>
                        <a href="{% url 'my_orders' %}">My Orders</a>
                        <a href="{% url 'my_reservations' %}">My Reservations</a>
                    </div>
    
                    <div class="sitemap">
                        <span class="footerHeaders">Sitemap</span>
                        <ul>
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li><a href="{% url 'shop' category='all' %}">Shop</a></li>
                            <li><a href="{% url 'services' %}">Services</a></li>
                            <li><a href="{% url 'about' %}">About</a></li><br>
                            <hr><br>
                            <li><a href="{% url 'performer_application' %}"><span style="font-weight: bold;">APPLY AS A PERFORMER NOW!</span></a></li>
                        </ul>
                    </div>
                </div>
    
                <div class="rightFooter">
                    <div class="socials">
                        <img class="logoFooter" src="https://i.ibb.co/k6psPpp/logo.png" alt="logo">
                        <div><a href="https://www.facebook.com/MamawsClown"><img src="https://i.ibb.co/715q9VP/fb.png" alt="fb"></a></div>
                    </div>
                </div>
            </div>
            <div class="copyright">© Copyright 2022 Mamaw’s Clown and Party Needs</div>
        </div>
    </footer>
    {% block scripts %}
    {% endblock %}
</body>

</html>