{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <!-- <meta property="og:image" content=""> -->
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1024">
    <meta property="og:image:height" content="1024">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Mamaw's Clown and Party Needs" />
    <meta property="og:description" content="Description" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Mamaw's Clown and Party Needs">
    <meta name="twitter:description" content="Description">
    <!-- <meta name="twitter:image" content=""> -->

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Mamaw's Clown and Party Needs</title>

    <!-- <link rel="shortcut icon" href="{% static 'favicon.ico' %}" %}/>
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff"> -->

    {% include 'style.html' %}
</head>

<body>
    <!-- <h1>Mamaw's Clown and Party Needs</h1> -->
    <!-- 
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'shop' category='all' %}">Shop</a></li>
        <li><a href="{% url 'services' %}">Services</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        {% if user.is_authenticated %}
        <li>Welcome, {{ user.first_name }}. <a href="{% url 'account_logout' %}">LOGOUT</a></li>
        {% else %}
        <li><a href="{% url 'account_signup' %}">SIGNUP</a></li>
        <li><a href="{% url 'account_login' %}">LOGIN</a></li>
        {% endif %}
    </ul> -->
    <div class="header">
        <div class="infoSection">
            <div>0917-128-5250</div>
            <div>facebook.com/MamawsClown</div>
            <div>Tondo, Manila</div>
            <div>MAMAW'S CLOWN AND PARTY NEEDS</div>
        </div>
        <div class="navigation">
            <div class='leftHeader'>
                <img class='logoHeader' src='https://i.ibb.co/k6psPpp/logo.png' alt='logo'/>
                <a href="{% url 'home' %}">HOME</a>
                <a href="{% url 'shop' category='all' %}">SHOP</a>
                <a href="{% url 'services' %}">SERVICES</a>
                <a href="{% url 'about' %}">ABOUT</a>
                {% if user.is_staff %} <a href="{% url 'dashboard' %}">ADMIN</a>{% endif %}
            </div>

            <div class='rightHeader'>
                {% if user.is_authenticated %}
                <span style="padding: 0 20px;">{{ user.username }}</span>|
                <span style="padding: 0 20px;"><a href="{% url 'account_logout' %}">LOG OUT</a></span>
                <div><a href="{% url 'cart' %}"><img class='cart-icon' src='https://i.ibb.co/jRtJnD8/cart.png'/> ({{ request.user.cart_size }})</a></div>
                <div><a href="{% url 'notifications' %}"><img class='cart-icon' src='https://i.ibb.co/nzDsfCC/notificationbell-logo.png'/> ({{ request.user.notification_count }})</a></div>
                {% else %}
                <a href="{% url 'account_login' %}">LOG IN</a>
                <a href="{% url 'account_signup' %}">| SIGN UP</a>
                {% endif %}
                
            </div>
        </div>
    </div>

    <main>
        {% if messages %}
        <div class="notifMessage">
            <ul style="list-style: none;">
                {% for message in messages %}<li>{{ message }}</li>{% endfor %}
            </ul>
        </div>
        {% endif %}
        {% block content %}
        {% endblock %}
    </main>

    
    <footer>
        <div class="footer">
            <div class="footerContent">
                <div class="leftFooter">
                    <div class="myAccount">
                        <span class="footerHeaders">My Account</span>
                        <a href="{% url 'my_orders' %}">My Orders</a>
                        <a href="{% url 'my_reservations' %}">My Reservations</a>
                    </div>
    
                    <div class="sitemap">
                        <span class="footerHeaders">Sitemap</span>
                        <ul>
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li><a href="{% url 'shop' category='all' %}">Shop</a></li>
                            <li><a href="{% url 'services' %}">Services</a></li>
                            <li><a href="{% url 'about' %}">About</a></li>
                        </ul>
                    </div>
                </div>
    
                <div class="rightFooter">
                    <div class="socials">
                        <img class="logoFooter" src="https://i.ibb.co/k6psPpp/logo.png" alt="logo">
                        <div><a href="https://www.facebook.com/MamawsClown"><img src="https://i.ibb.co/715q9VP/fb.png" alt="fb"></a></div>
                    </div>
                </div>
            </div>
            <div class="copyright">© Copyright 2022 Mamaw’s Clown and Party Needs</div>
        </div>
    </footer>
    {% block scripts %}
    {% endblock %}
</body>

</html>