{% extends 'base.html' %}

{% block content %}

<style>
.reservations{
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	margin-top: 5rem;
	margin-bottom: 6rem;
}
.coloredCard{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.7);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 2rem;
    padding: 2rem;
}
.myReservations{
    display: flex;
    align-self: start;
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 1rem;
    color: rgb(109, 21, 192);
}
button{
    color: white;
    width:6rem;
    height: 1.5rem;
    background-color: rgb(39, 39, 39);
    border-radius: 0.5rem;
    border-color: white;
    margin-left: 1rem;
}
</style>


<div class="reservations">
    <div class="coloredCard">
        <span class="myReservations">Performer Applications (PENDING)</span>
        <hr style="width: 100%; margin-bottom:1rem;">
        <table width="1200px">
                <thead style="font-size: 1rem;">
                    <th style="width: 10%; text-align: left;">Ref No.</th>
                    <th style="width: 20%; text-align: left;">Full Name </th>
                    <th style="width: 15%; text-align: left;">Email</th>
                    <th style="width: 25%; text-align: left;">Phone Number</th>
                    <th style="width: 10%; text-align: left;">Status</th>
                    <th style="width: 25%; text-align: left;">Created at:</th>
                    <th style="width: 10%;"></th>
                </thead>
                <tbody>
                    {% for application in pending_applications %}
                    <tr>
                        <td style="text-align: left;">{{ application.hash_code }}</td>
                        <td style="text-align: left;"><a href="{% url 'performer_application_details' pk=application.id %}">{{ application.full_name }} </a></td>
                        <td style="text-align: left;">{{ application.email }}</td>
                        <td style="text-align: left;">{{ application.phone_number }}</td>
                        <td style="text-align: left;">{{ application.status }}</td>
                        <td style="text-align: left;">{{ application.created_at }}</td>
                        <td style="text-align: left;"><a href="{% url 'performer_application_details' pk=application.id %}"><button>VIEW</button></a></td>
                    </tr>
                    {% endfor %} 
                </tbody>
        </table>    
    </div>
</div>

<div class="reservations">
    <div class="coloredCard">
        <span class="myReservations">Performer Applications (APPROVED)</span>
        <hr style="width: 100%; margin-bottom:1rem;">
        <table width="1200px">
                <thead style="font-size: 1rem;">
                    <th style="width: 10%; text-align: left;">Ref No.</th>
                    <th style="width: 20%; text-align: left;">Full Name </th>
                    <th style="width: 15%; text-align: left;">Email</th>
                    <th style="width: 25%; text-align: left;">Phone Number</th>
                    <th style="width: 10%; text-align: left;">Status</th>
                    <th style="width: 25%; text-align: left;">Approved at:</th>
                    <th style="width: 10%;"></th>
                </thead>
                <tbody>
                    {% for application in approved_applications %}
                    <tr>
                        <td style="text-align: left;">{{ application.hash_code }}</td>
                        <td style="text-align: left;"><a href="{% url 'performer_application_details' pk=application.id %}">{{ application.full_name }} </a></td>
                        <td style="text-align: left;">{{ application.email }}</td>
                        <td style="text-align: left;">{{ application.phone_number }}</td>
                        <td style="text-align: left;">{{ application.status }}</td>
                        <td style="text-align: left;">{{ application.processed_at }}</td>
                        <td style="text-align: left;"><a href="{% url 'performer_application_details' pk=application.id %}"><button>VIEW</button></a></td>
                    </tr>
                    {% endfor %} 
                </tbody>
        </table>    
    </div>
</div>

<div class="reservations">
    <div class="coloredCard">
        <span class="myReservations">Performer Applications (REJECTED)</span>
        <hr style="width: 100%; margin-bottom:1rem;">
        <table width="1200px">
                <thead style="font-size: 1rem;">
                    <th style="width: 10%; text-align: left;">Ref No.</th>
                    <th style="width: 20%; text-align: left;">Full Name </th>
                    <th style="width: 15%; text-align: left;">Email</th>
                    <th style="width: 25%; text-align: left;">Phone Number</th>
                    <th style="width: 10%; text-align: left;">Status</th>
                    <th style="width: 25%; text-align: left;">Rejected at:</th>
                    <th style="width: 10%;"></th>
                </thead>
                <tbody>
                    {% for application in rejected_applications %}
                    <tr>
                        <td style="text-align: left;">{{ application.hash_code }}</td>
                        <td style="text-align: left;"><a href="{% url 'performer_application_details' pk=application.id %}">{{ application.full_name }} </a></td>
                        <td style="text-align: left;">{{ application.email }}</td>
                        <td style="text-align: left;">{{ application.phone_number }}</td>
                        <td style="text-align: left;">{{ application.status }}</td>
                        <td style="text-align: left;">{{ application.processed_at }}</td>
                        <td style="text-align: left;"><a href="{% url 'performer_application_details' pk=application.id %}"><button>VIEW</button></a></td>
                    </tr>
                    {% endfor %} 
                </tbody>
        </table>    
    </div>
</div>

{% endblock %}