{% extends 'base.html' %}

{% block content %}
<h2>Checkout ORDER # {{ order.id }}</h2>

<form method="post" style="text-align: left;">
    {% csrf_token %}
    <div style="margin-bottom: 20px;">
        <label class="required" for="id_shipping_address">Shipping Address:</label>
        <input type="text" name="shipping_address" value="" maxlength="200" required="" id="id_shipping_address">
    </div>

    <div style="margin-bottom: 20px;">
        <label class="required" for="id_payment_method">Payment Method:</label>
        <select name="payment_method" required="" id="id_payment_method">
            <option value="COD">COD</option>
        </select>
    </div>

    <div><input type="submit" value="Save" class="default" name="_save"></div>
</form>


{% endblock %}