{% extends 'base.html' %}

{% block content %}
<style>
    .loginCard{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 6rem;
        margin-bottom: 6rem;
        /* background-color: white; */
    }
    .coloredCard{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.7);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        height: 20rem;
        border-radius: 2rem;
    }
    .login{
        display: flex;
        justify-content: center;
        /* align-items: center; */
        color: black;
        /* font-size: 3rem; */
        font-weight: bold;
    }
    .alert{
        color: brown;
        padding-bottom: 1rem;
    }
    .emailrow{
        display: flex;
        width: 30rem;
        justify-content: center;
    }
    .emailrow input{
        background:none;
        border-width: 0px;
        border-bottom: 1px solid #000000;
        margin-bottom: 0.5rem;
    }
    .passwordrow{
        display: flex;
        width: 30rem;
        justify-content: center;
        padding-bottom: 1rem;
    }
    .passwordrow input{
        background:none;
        border-width: 0px;
        border-bottom: 1px solid #000000;
        margin-bottom: 0.5rem;
    }
    
    .forgotpassword{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .forgotpassword button{
        margin-top: 1rem;
        color: white;
        width: 20rem;
        height: 2rem;
        background-color: rgb(39, 39, 39);
        border-radius: 1rem;
        border-width: 0.1rem;
        border-color: white;
    }
</style>

<div class="loginCard">
	<div class="coloredCard">
			<span class="login" style="margin-bottom: 20px;"><h2>Checkout Order # {{ order.id }}</h2></span>

			<form method="post" style="padding: 20px;">
                {% csrf_token %}
                <div id="div_id_search_address" style="margin-bottom: 20px;">
                    <label class="required" for="id_shipping_address">Shipping Address:</label><br>
                    <input type="text" name="shipping_address" value="" maxlength="200" required="" id="id_shipping_address" style="width: 100%;">
                    <br><small><a href="#" onclick="initAutocomplete();">Clear address</a></small>
                </div>
            
                <div style="margin-bottom: 20px;">
                    <label class="required" for="id_payment_method">Payment Method:</label><br>
                    <select name="payment_method" required="" id="id_payment_method" style="width: 100%;">
                        <option value="COD">COD</option>
                    </select>
                </div>
            
                <div class="forgotpassword"><button id="save-btn" type="submit" value="Save" name="_save" class="btn btn-primary w-100" onclick="fillInAddress();">SAVE</button></div>
            </form>
	</div>
</div>

{% endblock %}

{% block scripts %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-z1LbdTmltBEO__PtdKVTQ6-ZuzvO1XE&callback=initAutocomplete&libraries=places&v=weekly" async></script>
    <script>
        let autocomplete;
        let address1Field;
        let address2Field;
        let postalField;
        
        function initAutocomplete() {
            address1Field = document.querySelector("#id_shipping_address");
            address1Field.value = "";
            address1Field.removeAttribute('readonly');

            // Create the autocomplete object, restricting the search predictions to Philippines
            autocomplete = new google.maps.places.Autocomplete(address1Field, {
                componentRestrictions: { country: [ 'PH' ] },
                fields: ["address_components", "geometry"],
                types: ["address"],
            });
            address1Field.focus();
            
            // When the user selects an address from the drop-down, populate the
            // address fields in the form.
            autocomplete.addListener("place_changed", fillInAddress);
        }
        
        function fillInAddress() {
            if (autocomplete == null) {
                autocomplete = new google.maps.places.Autocomplete(address1Field, {
                    componentRestrictions: { country: [ 'PH' ] },
                    fields: ["address_components", "geometry"],
                    types: ["address"],
                });
            }

            // Get the place details from the autocomplete object.
            var place = autocomplete.getPlace();

            if (place == null || !place.geometry) {
                // User did not select a prediction
                address1Field.setCustomValidity("Please select a valid address.");
            } else {
                document.querySelector("#id_shipping_address").setAttribute('readonly', 'readonly');
            }
        }
    </script>
{% endblock %}