{% extends 'base.html' %}

{% block content %}

<style>
    @import url('https://fonts.googleapis.com/css2?family=Moul&family=Roboto+Flex:opsz@8..144&display=swap');
    
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        color: inherit;
        text-decoration: inherit;
    }
    body{
        background: linear-gradient(90deg, #CFECEE 13.39%, #F5B9B9 53.57%, #C3C2FB 85.51%);
        font-family: 'Roboto Flex', sans-serif;
    }
    
    /* CSS STYLE FOR NAVBAR */
    .header{
        display: flex;
        flex-direction: column;
        /* width: 100%; */
    }
    .infoSection{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        font-weight: bolder;
        font-family: 'Roboto Flex', sans-serif;
    }
    .navigation{
        display: flex;
        height: 7.813rem;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
        background: white;
        padding-left: 10.5rem;
        padding-right: 10.5rem;
        font-weight: bolder;
    }
    .leftHeader{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .leftHeader a{
        color: inherit;
        text-decoration: inherit;
        font-weight: 800;
        font-size: 1.1rem;
    }
    .logoHeader{
        background: #ffffff;
        border-radius: 100%;
        height: 10rem;
        width: 10rem;
        padding: 1rem;
        border: 2px solid black;
    }
    .rightHeader{
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
    }
    .user-icon{
        width: 2.5rem;
    }
    
    
    
    
    
    
    /* CSS STYLE FOR FOOTER */
    .footer{
        height: 20rem;
        display: flex;
        flex-direction:column;
        background:  rgba(255, 255, 255, 0.7);
        border-top: 2px solid #000000;
        justify-content: center;
    }
    .footerHeaders{
        font-weight: bold;
        font-size: 1.5rem;
    }
    .copyright{
        padding-left: 5rem;
        padding-top: 1rem;
        font-size: 0.8rem;
    }
    .footerContent{
        display: flex;
        padding-left: 14rem;
        padding-right: 14rem;
    }
    .leftFooter{
        display: flex;
        width: 100%;
        align-items: flex-start;
    }
    .leftFooter a{
        color: inherit;
        text-decoration: inherit;
    }
    .myAccount{
        display: flex;
        flex-direction:column;
        width: 100%;
    }
    .sitemap{
        display: flex;
        flex-direction:column;
        width: 100%;
    }
    .rightFooter{
        display: flex;
        width: 100%;
        justify-content: end;
        align-items: center;
    }
    .socials{
        display: flex;
        flex-direction:column;
        align-items: center;
    }
    .logoFooter{
        background: #FFFFFF;
        border-radius: 100%;
        height: 10rem;
        width: 10rem;
        padding: 1rem;
        margin-bottom: 1rem;
    }
    
    
    
    
    
    
    
    
    
    /* CONTENTS STYLE */
    .shopWrapper{
        display: flex;
        justify-content: center;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
    .subWrapperShop{
        display: flex;
    }
    .shopCategoryContainer{
        display: flex;
        flex-direction: column;
        width: 17rem;
        height: 100%;
        align-items: center;
        background-color: white;
        border-radius: 10px;
        margin-right: 2.5rem;
        padding: 20px;
    }
    .headerCategory{
        display: flex;
        font-size: 1.5em;
        font-weight: bolder;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .shopCategoriesContainer a{
        color: inherit;
        text-decoration: inherit;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    
    .catalog{
        width: 60rem;
        height: 50rem;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
        justify-content: space-around;
        overflow: auto;
        border-radius: 0.625rem;
        background: rgba(255, 255, 255, 0.35);
        padding: 3rem 3.75rem;
        gap: 3rem;
    }
    .catalog a{
        color: inherit;
        text-decoration: inherit;
    }
    .itemCard{
        width: 14rem;
        height: 20rem;
        background: rgba(255,255,255,0.5);
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
        border-radius: 0.313rem;
        padding: 0.75rem 0.813rem;
        display: flex;
        flex-direction: column;
    }
    .itemImage{
        display: flex;
        height: 10rem;
        width: 12rem;
        background: #D9D9D9;
        align-self: center;
        margin-bottom: 2rem;
    }

    table {
        border-collapse: separate;
        border-spacing: 0 15px;
    }
    .payNowButton{
        color: white;
        width: 12rem;
        height: 2rem;
        background-color: rgb(39, 39, 39);
        border-radius: 1rem;
        border-width: 0.1rem;
        border-color: white;
        margin-top: 0.5rem;
    }
    .removeButton{
        color: white;
        width: 4rem;
        height: 1.5rem;
        background-color: rgb(39, 39, 39);
        border-radius: 0.5rem;
        border-width: 0.1rem;
        border-color: white;
    }

</style>

<div class="shopWrapper">

    <div class="subWrapperShop">
        <div class="shopCategoryContainer">
            <span class="headerCategory">ORDER REF#{{ order.id }}</span>
            <div class="shopCategoriesContainer">
                <p><strong>Bill To: </strong><br>{{ order.account.first_name }} {{ order.account.last_name }}</p><br>

                <p><strong>Ship To: </strong><br>{{ order.shipping_address }}</p><br>

                <p><strong>Creation Date: </strong><br>{{ order.created_at }}</p><br>

                <p><strong>Checkout Date: </strong><br>{% if order.status == 'TO PAY' %}-{% else %}{{ order.paid_at }}{% endif %}</p><br>

                <p><strong>Delivery Date: </strong><br>{% if order.status == 'DELIVERED' %}{{ order.delivered_at }}{% else %}-{% endif %}</p><br>

                <p><strong>Status: </strong><br>{{ order.status }}</p><br>
                
                
                <hr><br>

                <p style="text-align: right; font-size: 1.5rem;"><strong>Total: </strong> PHP {{ order.total_cost }}</p>

                {% if order.status == 'TO PAY' %}<button class="payNowButton"><a href="{% url 'cart_checkout' %}">CHECKOUT</a></button>{% endif %}

            </div>
        </div>
        <div class="catalog" >
            <span class="headerCategory">PRODUCTS</span>
            <table width="100%">
                <thead style="font-size: 1rem;">
                    <th style="width: 5%; text-align: left;">#</th>
                    <th style="width: 20%; text-align: left;">ITEM</th>
                    <th style="width: 20%; text-align: right;">UNIT PRICE</th>
                    <th style="width: 20%; text-align: right;">QTY</th>
                    <th style="width: 25%; text-align: right;">TOTAL</th>
                    <th style="width: 10%; text-align: right;"></th>
                    
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ product.product.name }}</td>
                        <td style="text-align: right;">{{ product.unit_price }}</td>
                        <td style="text-align: right;">{{ product.quantity }} pcs</td>
                        <td style="text-align: right;">{{ product.line_total }}</td>
                        {% if order.status == 'TO PAY' %}<td style="text-align: right;"><button class="removeButton"><a href="{% url 'delete_purchase' pk=product.id %}">Remove</a></td>{%endif%}
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr style="font-size: 1.5rem;">
                        <td colspan="3" style="text-align: right;"><strong>TOTAL:</strong></td>
                        <td style="text-align: right;">{{ order.total_quantity }} pcs</td>
                        <td style="text-align: right;">PHP {{ order.total_cost }}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

{% endblock %}