{% extends 'base.html' %}

{% block content %}

<h1>{{ reservation.party_name }} ({{reservation.status}})</h1>

<h3>Summary</h3>

<br><br>

<ul>
    <li><strong>Booked By:</strong> {{ reservation.account.name }}</li>
    <li><strong>Email:</strong> {{ reservation.account.email }}</li>
    <li><strong>Contact No.:</strong> {{ reservation.phone_number }}</li>
    <li><strong>Notes:</strong> {{ reservation.notes }}</li>

    <br><br>

    <li><strong>Party Name:</strong> {{ reservation.party_name }}</li>
    <li><strong>Size:</strong> {{ reservation.party_size }}</li>
    <li><strong>Date:</strong> {{ reservation.party_date }}</span></li>
    <li><strong>Start time:</strong> {{ reservation.party_start_time }}</li>
    <li><strong>End time:</strong> {{ reservation.party_end_time }}</li>
    
    <br><br>
    
    <li>MASCOTS
        <ul>
            {% for mascot in reservation.mascots.all %}
            <li>{{ mascot.mascot.name }} | {{ mascot.price }}</li>
            {% endfor %}
        </ul>
    </li>

    <br><br>

    <li>SERVICES
        <ul>
            {% for service in reservation.services.all %}
            <li>{{ service.service.name }} | {{ service.price }}</li>
            {% endfor %}
        </ul>
    </li>

    <br><br>

    <li>EQUIPMENTS
        <ul>
            {% for equipment in reservation.equipments.all %}
            <li>{{ equipment.equipment.name }} | {{ equipment.price }}</li>
            {% endfor %}
        </ul>
    </li>

    <br><br>

    <li>PERFORMERS
        <ul>
            {% for performer in reservation.performers.all %}
            <li>{{ performer.performer.name }} | {{ performer.price }}</li>
            {% endfor %}
        </ul>
    </li>
</ul>

<hr>

<h4>TOTAL: {{ reservation.total_cost }}</h4>

{% endblock %}