{% extends 'base.html' %}

{% block content %}
<h2>Make a reservation.</h2>

<br>

<form method="post">
    {% csrf_token %}
    <section>
        <h3>Step 1: Party Information</h3>

        <div>
            <label for="id_party_name" required>Party name*:</label>
            <input onchange="updateSummary(this);" type="text" id="id_party_name" name="party_name">
            <div class="invalid-feedback">
                {% for error in form.party_name.errors %}{{ error }}&nbsp;{% endfor %}
            </div>
        </div>

        <br>

        <div>
            <label for="id_party_size" required>Party size*:</label>
            <input onchange="updateSummary(this);" type="number" id="id_party_size" name="party_size" min="1" max="100">
            <div class="invalid-feedback">
                {% for error in form.party_size.errors %}{{ error }}&nbsp;{% endfor %}
            </div>
        </div>

        <br>

        <div>
            <label for="id_party_date" required>Party date*:</label>
            <input onchange="updateSummary(this);" type="date" id="id_party_date" name="party_date">
            <div class="invalid-feedback">
                {% for error in form.party_date.errors %}{{ error }}&nbsp;{% endfor %}
            </div>
        </div>

        <br>

        <div>
            <label for="id_party_start_time" required>Start time*:</label>
            <input onchange="updateSummary(this);" type="time" id="id_party_start_time" name="party_start_time">
            <div class="invalid-feedback">
                {% for error in form.party_start_time.errors %}{{ error }}&nbsp;{% endfor %}
            </div>
        </div>

        <br>

        <div>
            <label for="id_party_end_time" required>End time*:</label>
            <input onchange="updateSummary(this);" type="time" id="id_party_end_time" name="party_end_time">
            <div class="invalid-feedback">
                {% for error in form.party_end_time.errors %}{{ error }}&nbsp;{% endfor %}
            </div>
        </div>
    </section>

    <br><br>

    <section>
        <h3>Step 2: Party Features</h3>

        <h4>Mascots</h4>
        {% for mascot in mascots %}
        <input onchange="updateListSummary(this);" class="mascot" type="checkbox" id="mascot{{forloop.counter}}" name="mascot{{forloop.counter}}" value="{{ mascot.id }}" data-name="{{ mascot.name }}">
        <label for="mascot{{forloop.counter}}">
            <strong>{{ mascot.name }}:</strong> {{ mascot.description }} {% if mascot.picture %}<a href="{{ mascot.picture.url }}" target="_blank">See picture.</a>{% endif %}
        </label><br>
        {% endfor %}

        <br>

        <h4>Services</h4>
        {% for service in services %}
        <input onchange="updateListSummary(this);" class="service" type="checkbox" id="service{{forloop.counter}}" name="service{{forloop.counter}}" value="{{ service.id }}" data-name="{{ service.name }}">
        <label for="service{{forloop.counter}}">
            <strong>{{ service.name }}:</strong> {{ service.description }} {% if service.picture %}<a href="{{ service.picture.url }}" target="_blank">See picture.</a>{% endif %}
        </label><br>
        {% endfor %}

        <br>
        
        <h4>Equipments</h4>
        {% for equipment in equipments %}
        <input onchange="updateListSummary(this);" class="equipment" type="checkbox" id="equipment{{forloop.counter}}" name="equipment{{forloop.counter}}" value="{{ equipment.id }}" data-name="{{ equipment.name }}">
        <label for="equipment{{forloop.counter}}">
            <strong>{{ equipment.name }}:</strong> {{ equipment.description }} {% if equipment.picture %}<a href="{{ equipment.picture.url }}" target="_blank">See picture.</a>{% endif %}
        </label><br>
        {% endfor %}

        <br>

        <h4>Performers</h4>
        {% for performer in performers %}
        <input onchange="updateListSummary(this);" class="performer" type="checkbox" id="performer{{forloop.counter}}" name="performer{{forloop.counter}}" value="{{ performer.id }}" data-name="{{ performer.name }}">
        <label for="performer{{forloop.counter}}">
            <strong>{{ performer.name }}:</strong> {{ performer.description }} {% if performer.picture %}<a href="{{ performer.picture.url }}" target="_blank">See picture.</a>{% endif %}
        </label><br>
        {% endfor %}

        <br>
    </section>

    <section>
        <h3>Step 3: Review and Book</h3>

        <div>
            <label for="id_phone_number" required>Phone number*:</label>
            <input type="text" id="id_phone_number" name="phone_number">
            <div class="invalid-feedback">
                {% for error in form.phone_number.errors %}{{ error }}&nbsp;{% endfor %}
            </div>
        </div>

        <br>

        <div>
            <label for="id_notes" required>Notes*:</label><br>
            <textarea id="id_notes" name="notes" rows="4" cols="50"></textarea>
            <div class="invalid-feedback">
                {% for error in form.notes.errors %}{{ error }}&nbsp;{% endfor %}
            </div>
        </div>

        <br>
        
    </section>

    <section>
        <h3>Summary</h3>
        <ul>
            <li>{{ user.name }}</li>
            <li>{{ user.email }}</li>
            <li>Party Name: <span id="summary_party_name"></span></li>
            <li>Size: <span id="summary_party_size"></span></li>
            <li>Date: <span id="summary_party_date"></span></li>
            <li>Start time: <span id="summary_party_start_time"></span></li>
            <li>End time: <span id="summary_party_end_time"></span></li>
            <li>Mascots:
                <ul id="summary_mascot">
                </ul>
            </li>
            <li>Services:
                <ul id="summary_service">
                </ul>
            </li>
            <li>Equipments:
                <ul id="summary_equipment">
                </ul>
            </li>
            <li>Performers:
                <ul id="summary_performer">
                </ul>
            </li>
        </ul>
    </section>
    <button type="submit">Submit Reservation</button>
</form>
{% endblock %}

{% block scripts %}
<script>
    function loadSummary() {
        const names = ["party_name", "party_size", "party_date","party_start_time", "party_end_time"];
        names.forEach((name)=>{
            let el = document.getElementById('id_' + name);
            updateSummary(el);
        }) 
    }

    function updateSummary(el) {
        var summary = 'summary_';
        var name = el.name;
        var value = el.value;
        document.getElementById(summary+name).innerText = el.value;
    }

    function updateListSummary(el) {
        if (el.checked) {
            var parent = document.querySelector('[id=summary_'+el.attributes.class.nodeValue+']')
            var item = document.createElement("li");
            item.setAttribute("id", 'summary_'+el.id);
            item.innerText = el.getAttribute("data-name");
            parent.appendChild(item);
        } else {
            let item = document.querySelector('[id=summary_'+el.id+']')
            item.remove();
        }
    }

    loadSummary();
</script>
{% endblock %}