{% extends 'base.html' %}

{% block content %}
<div class="aboutContainer">
    <div class="aboutHeader">Performers Management</div>
    <p>Create, retrieve, update, or delete performers.</p>
    <h2 style="padding: 20px;"><button style="margin: 5px; width: 100%;"><a href="{% url 'performers_new' %}">ADD NEW PERFORMER</a></button></h2>

    <table border="1" style="border-collapse: collapse; border-spacing: 10px; width: 80%; text-align: left;">
        <thead>
            <th style="padding: 10px;">NAME</th>
            <th style="padding: 10px;">DESCRIPTION</th>
            <th style="padding: 10px;">PRICE</th>
            <th style="padding: 10px;"></th>
        </thead>
        <tbody>
            {% for performer in performers %}
            <tr style="padding: 10px;">
                <td style="padding: 10px;">{{ performer.name }}</td>
                <td style="padding: 10px;">{{ performer.description }}</td>
                <td style="padding: 10px;">{{ performer.price }}</td>
                <td style="padding: 10px;">
                    <a href="{% if performer.picture %}{{ performer.picture.url }}{% endif %}"><button style="margin: 5px; width: 100%;">PREVIEW</button></a>
                    <a href="{% url 'performers_edit' pk=performer.id %}"><button style="margin: 5px; width: 100%;">EDIT</button></a>
                    <a href="{% url 'performers_delete' pk=performer.id %}"><button style="margin: 5px; width: 100%;">REMOVE</button></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</div>
{% endblock %}