{% extends 'base.html' %}

{% block content %}
<style>
.mainContainer{
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    padding-bottom: 3rem;
}
.crudHeaders{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}
.crudHeaders h{
    font-size: 3rem;
}

.servicesHeaderContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1rem;
}
.addMascot{
    width: 15rem;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: 0;
}
.servicesHeader{
    font-size: large;
    font-weight: bold;
}
.itemCatalog{
    min-width: 72rem;
    height: 28rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    overflow: auto;
    border-radius: 0.625rem;
    background: rgba(255, 255, 255, 0.35);
    padding: 3rem 3.75rem;
    gap: 3rem;
    margin-bottom: 5rem;
}
.itemCard{
    display: flex;
    flex-direction: column;
    width: 12rem;
    height: 20rem;
    background: rgba(255,255,255,0.5);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 0.313rem;
    padding: 0.75rem 0.813rem;
    margin-bottom: 3rem;
}
.itemImage{
    display: flex;
    height: 10rem;
    width: 10rem;
    background: #D9D9D9;
    align-self: center;
    margin-bottom: 1rem;    
}
.itemImage img{
    height: 10rem;
    width: 10rem; 
}
.itemDetails{
    display: flex;
    flex-direction: column;
}
.itemDetails p{
    padding-bottom: 0.2rem;
    max-height: 1.4rem;
    overflow-x: hidden;
}
.itemDetails div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.itemName{
    font-weight: bold;
}
/*.itemDescription{
    max-height: 1.4rem;
    overflow-x: hidden;
} */
.subButtons button{
    width: 4rem;
    height: 1.5rem;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: 0;
    margin-top: 1rem;
}
</style>
<div class="mainContainer">
    <div class="mascotContainer">
        <div class="crudHeaders">
            <h>PERFORMERS MANAGEMENT</h>
            <span>Create, retrieve, update, or delete performers.</span>
        </div>
        <div class="servicesHeaderContainer">
            <div style="display: flex; flex-direction: column;">
                <span class="servicesHeader">PERFORMERS</span>
                <span>Choose a performer</span>
            </div>
            <div>
                <a href="{% url 'performers_new' %}"><button class="addMascot">ADD NEW PERFORMER</button></a>
            </div>
        </div>
        <div class="itemCatalog">
            {% for performer in performers %}
            <div class="itemCard">
                {% if performer.picture %}
                <div class="itemImage"><img src="{{ performer.picture.url }}" alt="{{ performer.picture.url }}"></div>
                {% endif %}
                <div class="itemDetails">
                    <p class="itemName">{{ performer.name }}</p>
                    <p class="itemDescription"> {{ performer.description }}</p>
                    <p>Php{{ performer.price }}</p>

                    <div class="subButtons">
                        <a href="{% url 'performers_edit' pk=performer.id %}"><button>edit</button></a>
                        <a href="{% url 'performers_delete' pk=performer.id %}"><button>remove</button>
                    </div></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}