{% extends 'base.html' %}

{% block content %}
<div class="aboutContainer">
    <div class="aboutHeader">Mascots Management</div>
    <p>Create, retrieve, update, or delete mascots.</p>
    <h2 style="padding: 20px;"><button style="margin: 5px; width: 100%;"><a href="{% url 'mascots_new' %}">ADD NEW MASCOT</a></button></h2>

    <table border="1" style="border-collapse: collapse; border-spacing: 10px; width: 80%; text-align: left;">
        <thead>
            <th style="padding: 10px;">NAME</th>
            <th style="padding: 10px;">DESCRIPTION</th>
            <th style="padding: 10px;">PRICE</th>
            <th style="padding: 10px;"></th>
        </thead>
        <tbody>
            {% for mascot in mascots %}
            <tr style="padding: 10px;">
                <td style="padding: 10px;">{{ mascot.name }}</td>
                <td style="padding: 10px;">{{ mascot.description }}</td>
                <td style="padding: 10px;">{{ mascot.price }}</td>
                <td style="padding: 10px;">
                    <a href="{% if mascot.picture %}{{ mascot.picture.url }}{% endif %}"><button style="margin: 5px; width: 100%;">PREVIEW</button></a>
                    <a href="{% url 'mascots_edit' pk=mascot.id %}"><button style="margin: 5px; width: 100%;">EDIT</button></a>
                    <a href="{% url 'mascots_delete' pk=mascot.id %}"><button style="margin: 5px; width: 100%;">REMOVE</button></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</div>
{% endblock %}