{% extends 'base.html' %}

{% block content %}
<style>
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 6rem;
}
.content1{
    display: flex;
    color: #5b5aaa;
    width: 60rem;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.content2{
    display: flex;
    width: 60rem;
    height: 30rem;
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
.imgContainer{
    display: flex;
    width: 20rem;
    height: 25rem;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}
.imgPosition{
    display: flex;
    width: 17rem;
    height: 22rem;
    background: lightgray;
    justify-content: center;
    align-items: center;
}

.itemDetails{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:34rem;
    height: 96%;
    padding: 2rem;
}

.inputName{
    font-size: 1.5rem;
    border: 0;
    background-color: rgba(255, 255, 255, 0.5);
}
.inputDesc{
    border: 0;
    background-color: rgba(255, 255, 255, 0.5);
}
.inputPrice{
    border: 0;
    width: 6rem;
    background-color: rgba(255, 255, 255, 0.5);
}
.saveDiv{
    display: flex;
    justify-content: right;
}
.saveButton{
    display: flex;
    justify-content: center;
    width: 10rem;
    height: 2rem;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 0;
    border-radius: 10px;
}

</style>


<form enctype="multipart/form-data" method="post" style="text-align: left;">
{% csrf_token %}
<div class="container">
    <div class="content1">ADDING NEW MASCOT</div>
    <div class="content2">
        <div class="imgContainer">
            <div class="imgPosition">
                <input type="file" name="picture" accept="image/*" id="id_picture">
            </div>
        </div>

        <div class="itemDetails">
            <!-- <label class="required" for="id_name">Name:</label> -->
            <input class="inputName" type="text" name="name" value="" maxlength="200" required="" id="id_name" placeholder="Name">
            

            <!-- <label class="required" for="id_description">Description:</label><br> -->
            <textarea class="inputDesc" name="description" cols="40" rows="10" id="id_description" placeholder="Item Description"></textarea>
            

            <div>
                <label for="id_price">Php</label>
                <input class="inputPrice" type="number" name="price" value="" step="0.01" required="" id="id_price">
            </div>
            
            
            <div class="saveDiv"><input class="saveButton" type="submit" value="Save" class="default" name="_save" ></div>
        </div>
    </div>
    
</div>
</form>


{% endblock %}