{% extends 'base.html' %}
{% load i18n %}
{% load account %}
{% block content %}

<style>
.passChanged{
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	margin-top: 5rem;
	margin-bottom: 6rem;
}
.coloredCard{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.7);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	height:8rem;
	width: 26rem;
	border-radius: 2rem;
}
</style>

<div class="passChanged">
    <div class="coloredCard">
        <h1 style="padding-bottom: 1rem;">{% trans "Change Password" %}</h1>
        <p>{% trans 'Your password is now changed!' %}</p>
    </div>
</div>
{% endblock %}