{% extends 'base.html' %}
{% load i18n %}
{% load account %}
{% block content %}

<style>
.passResetCard{
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	margin-top: 5rem;
	margin-bottom: 6rem;
}
.coloredCard{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.7);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	height:18rem;
	width: 28rem;
	border-radius: 2rem;
}
.password_reset{
    display: flex;
    flex-direction: column;
}
/* .password_reset button{
    margin-top: 1rem;
	color: white;
	width: 15rem;
	height: 2rem;
	background-color: rgb(39, 39, 39);
	border-radius: 1rem;
	border-width: 0.1rem;
	border-color: white;
} */

</style>

<div class="passResetCard">
    <div class="coloredCard">
        <span style="padding-bottom: 0.5rem; font-size: 2.6rem; font-weight: bold;">{% trans "Password Reset" %}</span>
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
    
        <p style="text-align:center; width:22rem; font-size:0.8rem; padding-bottom: 1rem;">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
    
        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="{% trans 'Reset My Password' %}" />
        </form>
    
        <p style="padding-top: 1rem; font-size: 0.8rem; width: 22rem; text-align: center;">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
    </div>
</div>


<!-- <div class="container window vh-100">

    <div>
        <h1>{% trans "Password Reset" %}</h1>
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
    
        <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
    
        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="{% trans 'Reset My Password' %}" />
        </form>
    
        <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
    </div>

</div> -->
{% endblock %}