{% extends 'base.html' %}
{% load i18n %}
{% load account %}
{% block content %}

<div class="container window vh-100">

    <div>
        
        <h1>{% trans "Password Reset" %}</h1>
    
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
    
        <p>We have sent you an e-mail. Check your spam folder if it's not in your inbox. If you do not receive it within a few minutes, please <a href="{% url 'contact' %}">contact us</a>.</p>

    </div>

</div>
{% endblock %}