{% extends 'base.html' %}

{% block content %}
<div class="homeWrapper">
    <div class="firstContentHome">
        <img class='img1Home' src='https://i.ibb.co/F7XHvwZ/img1-content1.png' alt='image 1 content1'/>

        <div class='textContainer1Home'>
            <div class='text1Home'>WE DELIVER AN UNFORGETTABLE EXPERIENCE</div>
            <div class='textSubContainer1Home'>
                <span class='text2Home'>“Being different and thinking different makes a person unforgettable. History does not remember the forgettable.”</span>
                <span class='text3Home'>― Suzy Kassem, Rise Up and Salute the Sun: The Writings of Suzy Kassem </span>
            </div>
        </div>
    </div>

    <div class="secondContentHome">
        <img class='img2Home' src='https://i.ibb.co/pwNGQTv/img1-content2.png' alt='image 1 content2'/>
        <div class='imgContainer1Home'>
            <img class='img3Home' src='https://i.ibb.co/QQBVQK5/img2-content2.png' alt='image 2 content2'/>
            <img class='img3Home' src='https://i.ibb.co/fxprTcv/img3-content2.png' alt='image 3 content2'/>
        </div>
    </div>

    <div class="thirdContentHome">
        <img class='img5Home' src="https://i.ibb.co/35x5TKw/img1-content3.png" alt="image 1 content3"/>
        <div class='textContainer2Home'>
            <div class='text4Home'>Helping others create unforgettable moments is what we live for. That's why our team of party scientists create innovative products, brainstorm wild party ideas, and meticulously track trends.</div>
            <div class='text5Home'>You are never too old to dress up! You are not too old for being unapologetically unique! Whether you're dressing to impress or decorating to distress, <strong>BE UNFORGETABLE</strong>. With our store filled with hundreds of products, you are sure to find the perfect costume, party theme, or inspiration for your next party.</div>
        </div>
    </div>
</div>
{% endblock %}